<div class="new-msg">
	        //$('#menu-msg').click(function(){
        //    if($('.widget.new.msg').length>0){ 
         //       $widgets=$('.widget.new.msg'); 
         //       $container.masonry('remove', $widgets).masonry('reload');
         //   }else{
         //       $widgetContent = $('<div class="widget new msg"><%= escape_javascript(render template: "widgets/new_message")%></div>');
         //       $container.prepend($widgetContent).masonry('reload');
          //      $('.widget.new.msg textarea').focus();
          //  }
        //});
</div>